{% extends "base.html" %} {% block title %} Form {% endblock %}
{% block content %}
<br>
<br>


<form method="POST">
    <h3 align = "center"> Form Creation</h3>
    <div class="form-group">
        <label for="gallonsReq">Gallons Requesting</label>
        <input type="Gallons Requested" class="form-control" id="gallonsReq" name="gallonsReq" placeholder="Enter Amount">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryAddr1">Delivery Address 1</label>
        <input type="Delivery Address1" class="form-control" id="deliveryAddr1" name="deliveryAddr1" placeholder="Enter Address">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryAddr2">Delivery Address 2</label>
        <input type="Delivery Address2" class="form-control" id="deliveryAddr2" name="deliveryAddr2" placeholder="Enter Address">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryCity">Delivery City</label>
        <input type="Delivery City" class="form-control" id="deliveryCity" name="deliveryCity" placeholder="Enter City">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryDate">Delivery State</label>
        <input type="Delivery State" class="form-control" id="deliveryState" name="deliveryState" placeholder="Enter Date">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryZipcode">Delivery Zipcode</label>
        <input type="Delivery Zipcode" class="form-control" id="deliveryZipcode" name="deliveryZipcode" placeholder="Enter Date">
    </div>

    <br>

    <div class="form-group">
        <label for="suggestedPrice">Suggested Price</label>
        <input type="Suggested Price" class="form-control" id="suggestedPrice" name="suggestedPrice" placeholder="Price Placeholder">
    </div>

    <br>

    <div class="form-group">
        <label for="totalAmount">Total Amount</label>
        <input type="Total Amount" class="form-control" id="totalAmount" name="totalAmount" placeholder="Total Amount Placeholder">
    </div>

    <br>
    <button type = "submit" class="btn btn-primary">Place Order</button>

</form>
{% endblock %}