{% extends "base.html" %} {% block title %} Form {% endblock %}
{% block content %}
<br>
<br>
<br>

<form method="POST">
    <h3 align = "center"> Form Creation</h3>
    <div class="form-group">
        <label for="gallonsReq">Gallons Requesting</label>
        <input type="Gallons Requested" class="form-control" id="gallonsReq" name="gallonsReq" placeholder="Enter Amount">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryAddr">Delivery Address</label>
        <input type="Delivery Address" class="form-control" id="deliveryAddr" name="deliveryAddr" placeholder="Enter Address">
    </div>

    <br>

    <div class="form-group">
        <label for="deliveryDate">Delivery Date</label>
        <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" placeholder="Enter Date">
    </div>

    <br>

    <div class="form-group">
        <label for="suggestedPrice">Suggested Price</label>
        <input type="Suggested Price" class="form-control" id="suggestedPrice" name="suggestedPrice" placeholder="Price Placeholder">
    </div>

    <br>

    <div class="form-group">
        <label for="totalAmount">Total Amount</label>
        <input type="Total Amount" class="form-control" id="totalAmount" name="totalAmount" placeholder="Total Amount Placeholder">
    </div>

    <br>
    <button type = "submit" class="btn btn-primary">Place Order</button>

</form>
{% endblock %}