{% extends "base.html" %}

{% block content %}
  <h1 class="p-3">Quote History</h1>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User ID</th>
        <th>Qallons Requested</th>
        <th>Delivery Address</th>
        <th>Delivery Date</th>
        <th>Suggested Price / gallon</th>
        <th>Total Amount Due</th>
      </tr>
    </thead>
    <tbody>
      {{user.quotes.delivery_zipcode}}
      <ul>
        <!-- {% for quotes in user.fuelquote %} 
        <li>{{quotes.gallons_req}}</li>
        {% endfor %}   -->
      </ul>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}

{% endblock %}