
{% block content %}
<head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/src/style.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
  <section class="showcase">
    <header>
      <h2 class="logo">Qoil</h2>
      <div class="toggle"></div>
    </header>
    <video muted loop autoplay><source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4"></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Group 4 </h2> 
      <h3>Q</h3>
      <p>software application that will predict the rate of the fuel based on the following criteria:</p>
      <a href="/form">Write a Form</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/history">History</a></li>
    </ul>
  </div>
  <script>
    const menuToggle = document.querySelector('.toggle');
     const showcase = document.querySelector('.showcase');
     menuToggle.addEventListener('click', () => {
       menuToggle.classList.toggle('active');
       showcase.classList.toggle('active');
     })
 </script>
</body>
{% endblock %}
