
{% block content %}
<head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/src/style.css">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
  <section class="showcase">
    <header>
      <h2 class="logo">Qoil</h2>
      <div class="toggle"></div>
    </header>
    <!-- <video muted loop autoplay><source src="https://vod-progressive.akamaized.net/exp=1677282255~acl=%2Fvimeo-transcode-storage-prod-us-central1-h264-1080p%2F01%2F2139%2F10%2F260695954%2F958942265.mp4~hmac=14e32e8d219e6ba0bf325d0b88b45d9760cd3b29202debd401a113bc5dccac8d/vimeo-transcode-storage-prod-us-central1-h264-1080p/01/2139/10/260695954/958942265.mp4" type="video/mp4"></video> -->
    <video muted loop autoplay><source src="https://player.vimeo.com/external/592301858.sd.mp4?s=5eeaff20a014c06f9172b47cfde5407e31753ee8&profile_id=164&oauth2_token_id=57447761" type="video/mp4"></video> 
    <!-- <video muted loop autoplay><source src="" type="video/mp4"></video> -->
    <div class="overlay"></div>
    <div class="text">
      <h2>Group 4 </h2> 
      <h3>Qoil</h3>
      <p>Give us your requirements to recieve a free quote</p>
      <a href="/form">Write a Form</a>
    </div>
 
  </section>
  <div class="menu">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/form">Form</a></li>
      <li><a href="/history">History</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/form">Form</a></li>
      <li><a href="/history">History</a></li>
      {% endif %}
    </ul>
  </div>
  <script>
    const menuToggle = document.querySelector('.toggle');
     const showcase = document.querySelector('.showcase');
     menuToggle.addEventListener('click', () => {
       menuToggle.classList.toggle('active');
       showcase.classList.toggle('active');
     })
 </script>
</body>
{% endblock %}
